/* common */
body{
	font-family: 'Aref Ruqaa', serif;
}

.rightText{
	text-align: right;
}

.leftText{
	text-align: left;
}

.centerText{
	text-align: center;
}

.component{
	margin-top: 5px;
}

.right{
	float: right;
}

.left{
	float: left;
}

.marginBottom{
	margin-bottom: 5px;
}

.hidden{
	display: none;
}

/* navi */
.navi{
	height: 50px;
	background-color: rgba(0, 0, 0, 0.9);
}

/* header */
.list {
	list-style: none;
	margin: 0;
	padding: 0;
	color : #FFF;
}

.list li {
	margin: 10px;
	padding: 3px;
	float: right;
	font-size: 15px;
}

.list li a:link {
	color: #FFF;
}

.list li a:visited {
	color: #FFF;
}

.list li a:hover {
	color: #FC8E42;
}

.list li a:active {
	color: #FFF;
}

.headerList{
	background-color: #FC8E42;
}

.logo{
	width: 200px;
	height: 100px;
}

.header{
	height: 370px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
 	background: url("../img/header.jpg");
	-moz-background-size: cover;
	background-size: cover;
}

.header_content{
	padding: 10px;
}

#account{
	display: none;
	margin-top: 5px;
	margin-left: 15px;
	width: 40%;
}

#myAccountBtn{
	margin-bottom: 5px;
	background-color: #FC8E42;
	border-color: #FC8E42;
}

#myAccountErrorMessage{
	color: #FA1E3B;
	font-size: 20px;
}

#myAccountSuccessMessage{
	color: #FC8E42;
	font-size: 30px;
}

#removeIcon{
	font-size: 30px;
	color: #FC8E42;
	margin-bottom: 5px;
}

/* featured product */
.featuredProduct{
	background-color: rgba(0, 0, 0, 0.9);
}

#fp_burgerName{
	color: #FC8E42;
	font-weight: 800;
	margin-left: 10px;
}

#fp_burgerExp{
	color: #FFF;
	font-weight: 800;
	margin-left: 50px;
	font-size: 20px;
}

.fpTable{
	margin-bottom: 0px;
}

#fpExp{
	border: none;
}

#fpImage{
	width: 330px;
	border: none;
}

.fp_margin{
	margin-right: 0px;
	margin-left: 0px;
}

#show1{
	position:absolute;
	width: 320px;
	height: 240px;
}

#show2{
	width: 320px;
	height: 240px;
}

.fadeout{
	opacity: 0;
	transition: 3s ease-in-out;
	-webkit-transition: 3s ease-in-out;
}

.fadein{
	opacity: 1;
	transition: 3s ease-in-out;
	-webkit-transition: 3s ease-in-out;
}

/* main */
.display{
	height: 400px;
	position: relative;
}

.display #arrowLeft{
	display: none;
	position: absolute;
	top: 200px;
	bottom: 0;
	left: 180px;
	font-size: 50px;
	color: #E97423;
}

.display #arrowRight{
	display: none;
	position: absolute;
	top: 200px;
	bottom: 0;
	right: 180px;
	font-size: 50px;
	color: #E97423;
}

.display #foodName{
	display: none;
	font-size: 50px;
	color: #E97423;
	position: absolute;
	top: 50px;
	left: 10px;
}
.display #price{
	display: none;
	font-size: 50px;
	color: #E97423;
	position: absolute;
	top: 120px;
	left: 10px;
}

.display #food{
	display: none;
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 300px;
	height: 300px;
}

.display #lettuce{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 200px;
	width: 300px;
	z-index: -1;
	opacity: 0.6;
}

.display #humburger{
	position: absolute;
    	right: 0;
    	bottom: 0;
	z-index: -1;
	opacity: 0.6;
}

#tableMenu{
	width: 60%;
	text-align: center;
}

#tableMenu{
	margin-left: auto;
	margin-right: auto;
}

#tableMenu caption{
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

#tableMenu label{
	text-align: left;
}

#tableMenu td{
	text-align: left;
}

#tableMenu th{
	text-align: center;
}

#tableMenu td:hover{
	color: #E97423;
}

/* footer */
.footer{
	background-color: rgba(0, 0, 0, 0.9);
	color: #FFF;
}

.footer h3{
	color: #FC8E42;
}

.footerExp{
	font-size: 15px;
}

#signUpBtn{
	background-color:#FC8E42;
	border-color:#FC8E42;
}

/*
#signUpMessage{
	color:#FC8E42;
	font-size:20px;
}
*/
#signUpErrorMessage{
	color:#FA1E3B;
	font-size:20px;
}

#signUpSuccessMessage{
	color:#1EFA51;
	font-size:20px;
}

#map_canvas{
	width: 100%;
	height: 150px;
}

.formInput{
	padding: 10px;
}

@media only screen and (min-width: 1200px){
	.logo{
		width: 250px;
		height: 125px;
	}
	
	.header{
		height: 450px;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background: url("../img/headerBig.jpg");
		-moz-background-size: cover;
		background-size: cover;
	}

	#fp_burgerExp{
		font-size: 25px;
	}
	
	.display{
		height: 400px;
		position: relative;
	}

	.display #arrowLeft{
		position: absolute;
		top: 200px;
		bottom: 0;
		left: 350px;
	}

	.display #arrowRight{
		position: absolute;
		top: 200px;
		bottom: 0;
		right: 350px;
	}
	
	#show1, #show2{
		width: 400px;
		height: 300px;
	}

	.display #food{
		height: 350px;
		width: 350px;
	}

	.display #lettuce{
		left: 150px;
	}

	.display #humburger{
		right: 150px;				
	}

	#tableMenu caption, th, td{
		font-size: 20px;
	}
}

@media only screen and (max-width: 768px){
	.logo{
	  	width: 180px;
	 	height: 90px;
	}

	.display #arrowLeft{
		position: absolute;
	        top: 200px;
	 	bottom: 0;
		left: 70px;
	}

	.display #arrowRight{
		position: absolute;
	        top: 200px;
	 	bottom: 0;
		right: 70px;
	}

	.display #foodName{
		font-size: 40px;
		top: 50px;
	}

	.display #price{
		font-size: 40px;
		top: 100px;
	}
}

@media only screen and (max-width: 480px){
	
	.header{
		background: url("../img/headerMobile.jpg");
	}

	.logo{
		width: 130px;
		height: 65px;
	}

	.navi{
		height:30px;
	}

	.list li {
		margin: 5px;
		padding:2px;
		font-size: 13px;
	}

	#account{
		width:60%;
	}

	#fp_burgerExp{
		margin-left: 20px;
		font-size: 15px;
	}

	.fpTable tr{
		display: block;
		margin-bottom: 1.5em;
	}

	.fpTable th, .fpTable td{
		display: list-item;
    		border: none;
	}

	#fpImage{
		text-align: center;
	}

	#show1{
		width: 260px;
		height: 195px;
	}

	#show2{
		width: 260px;
		height: 195px;
	}

	.display #arrowLeft{
	     	left: 10px;
	}

	.display #arrowRight{
		right: 10px;
	}

	.display #foodName{
		font-size: 30px;
		top: 60px;
	}

	.display #price{
		font-size: 30px;
		top: 100px;
	}

	.display #food{
		width: 250px;
		height: 250px;
	}

	.display #lettuce{
		height: 120px;
		width: 180px;
	}

	.display #humburger{
		display: none;		
	}

	
	#tableMenu{
		margin-left: 5px;
	        width: 100%;
	}

}


