/* common */
.rightText{
	text-align: right;
}

.leftText{
	text-align: left;
}

.centerText{
	text-align: center;
}

.component{
	margin-top: 5px;
}

.right{
	float: right;
}

.left{
	float: left;
}

.marginBottom{
	margin-bottom:5px;
}

.hidden{
	display: none;
}

/* navi */
.navi{
	height:50px;
	background-color: rgba(0, 0, 0, 0.9);
}

/* header */
/*
.bgHeader{
	background-color: #E97423;
	border-radius: 0.5em;	
}
*/
/*
.bgHeader{
	background-color: rgba(0, 0, 0, 0.9);
}
*/

.list {
	list-style: none;
	margin: 0;
	padding: 0;
	color : #FFF;
}

.list li {
	margin: 10px;
	padding:3px;
	float: right;
	font-size: 15px;
}

.list li a:link {
	color: #FFF;
}

.list li a:visited {
	color: #FFF;
}

.list li a:hover {
	color: #FC8E42;
}

.list li a:active {
	color: #FFF;
}

.headerList{
	background-color: #FC8E42;
}

.logo{
	width: 200px;
	height: 100px;
}

.header{
	height: 370px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
 	background: url("../img/header.jpg");
    	
	-moz-background-size:cover;
	background-size: cover;
	/*
	background: url(img/header1.jpg);
	background-size: 100% auto;
	*/
}

.header_content{
	padding: 10px;
}

#account{
	/*
	visibility:hidden;
	*/
	display:none;
	margin-top:5px;
	margin-left:15px;
	width:40%;
}

#myAccountBtn{
	margin-bottom:5px;
	background-color:#FC8E42;
	border-color:#FC8E42;
}

#myAccountErrorMessage{
	color:#FA1E3B;
	font-size:20px;
}

#myAccountSuccessMessage{
	color:#FFF;
	font-size:30px;
}

#removeIcon{
	font-size:30px;
	color:#FC8E42;
	margin-bottom:5px;
}

/* featured product */
.featuredProduct{
	/*width:320px;*/
	/*width: 100%;*/
	background-color: rgba(0, 0, 0, 0.9);
}

/*.header{
	background-image: url("img/bacon.jpg");
	background-size:40% auto;
}*/

.fpTable{
	margin-bottom: 0px;
}

#fpExp{
	border: none;
}

#fpExp{
	border: none;
}

#fpImage{
	width: 330px;
	border: none;
}

.fp_margin{
	margin-right: 0px;
	margin-left: 0px;
}

#fp_burgerName{
	color: #FC8E42;
}

#fp_burgerEXP{
	color: #FFF;
}

#show1{
	position:absolute;
	width: 320px;
	height: 240px;
}

#show2{
	width: 320px;
	height: 240px;
}

.fadeout{
	opacity: 0;
	transition: 3s ease-in-out;
	-webkit-transition: 3s ease-in-out;
}

.fadein{
	opacity: 1;
	transition: 3s ease-in-out;
	-webkit-transition: 3s ease-in-out;
}

/* main */
.display{
	height: 400px;
	position: relative;
}

.display #price{
	display: none;
	font-size: 50px;
	color: #E97423;
	position: absolute;
	top: 50px;
	left: 10px;
}

.display #food{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 300px;
	height: 300px;
}

.display #lettuce{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 150px;
	z-index: -1;
}

.display #humburger{
	position: absolute;
    	right: 0;
    	bottom: 0;
	z-index: -1;
}

#tableMenu{
	width: 60%;
	text-align: center;
}

#tableMenu{
	margin-left: auto;
	margin-right: auto;
}

#tableMenu caption{
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

#tableMenu label{
	text-align: left;
}

#tableMenu td{
	text-align: left;
}

#tableMenu th{
	text-align: center;
}

#tableMenu td:hover{
	color: #E97423;
}

/* footer */
.footer{
	background-color: rgba(0, 0, 0, 0.9);
	color: #FFF;
}

.footer h3{
	color: #FC8E42;
}

.footerExp{
	font-size: 15px;
}

#signUpBtn{
	background-color:#FC8E42;
	border-color:#FC8E42;
}

/*
#signUpMessage{
	color:#FC8E42;
	font-size:20px;
}
*/
#signUpErrorMessage{
	color:#FA1E3B;
	font-size:20px;
}

#signUpSuccessMessage{
	color:#1EFA51;
	font-size:20px;
}

#map_canvas{
	width: 100%;
	height: 150px;
}

.formInput{
	padding: 10px;
}

@media only screen and (max-width: 768px){
	.logo{
	  	width: 180px;
	 	height: 90px;
	}
}

@media only screen and (max-width: 480px){
	
	.header{
		background: url("../img/headerMobile.jpg");
	}

	.logo{
		width: 130px;
		height: 65px;
	}

	.navi{
		height:30px;
	}

	.list li {
		margin: 5px;
		padding:2px;
		font-size: 13px;
	}

	#account{
		width:60%;
	}

	.fpTable tr{
		display: block;
		margin-bottom: 1.5em;
	}

	.fpTable th, .fpTable td{
		display: list-item;
    		border: none;
	}

	#fpImage{
		text-align: center;
	}

	#show1{
		width: 260px;
		height: 195px;
	}

	#show2{
		width: 260px;
		height: 195px;
	}

	.display #price{
		font-size: 40px;
	}

	.display #food{
		width: 250px;
		height: 250px;
	}


	.display #humburger{
		display: none;		
	}

	#tableMenu{
		margin-left: 5px;
	        width: 40%;
	}

}


