/* body */
.mainPage{
	background-image: url(../img/myPage.jpg);
    	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/* header */
.mpLogo{
	margin-left: 10px;
	display: inline-block;
}

.mpIntro{
	display: inline-block;
	margin-left: 20px;
	color: #FFF;
}

.mpHeader{
	background-color: rgba(0,0,0,0.2);
}

/* main */
.mpComponent{
	color: #FFF;
	background-color: rgba(0,0,0,0.7);
}

.userInfo{
	font-size: 20px;
}

.rewardInfo h3, h4{
	text-align: center;
	color: #FC8E42;
}

.rewardInfo p{
	text-align: center;
}

.rewardInfo h2{
	margin-left: 20px;
}

.rewardInfo img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 96px;
	width: 96px;
}

.rewardInfo p{
	font-size: 15px;
}

.orange{
	color: #FC8E42;
}

@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 480px){
	.mpIntro h1{
		margin-top: 5px;
	}

	.userInfo{
		font-size: 15px;
	}

	.userInfo h2{
		font-size: 20px;
	}

	.rewardInfo h2{
		font-size: 20px;
	}

}
